# OpenAI API Configuration
OPENAI_API_KEY=sk-proj-YOUR_OPENAI_API_KEY_HERE

# Pinecone Configuration  
PINECONE_API_KEY=pcsk_YOUR_PINECONE_API_KEY_HERE
PINECONE_ENVIRONMENT=https://doc-assistant-e1w1hea.svc.aped-4627-b74a.pinecone.io
PINECONE_INDEX_NAME=doc-assistant
